<!DOCTYPE html>
<html>
<head>
  <title>Alex Lin</title>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="nav_bar">
  <div id="nav_container">
    <div class="nav_block" id="about_me_nav">
      <a href="https://www.facebook.com/alex.lin.108">
        <%= image_tag "facebook.png", class: "icon" %>
      </a>
      <ul>
        <li>About Me</li>
        <li>HP: 100</li>
        <li>MP: 50<li>
      </ul>
    </div>
    <div class="nav_block" id="project_collection_nav">
      <a href="https://github.com/walkingtowork">
        <%= image_tag "github_blue3.svg", class: "icon" %>
      </a>
      <ul>
        <li>Portfolio</li>
        <li>HP: 100</li>
        <li>MP: 50<li>
      </ul>
    </div>
    <div class="nav_block" id="social_media_nav">
      <a href="https://twitter.com/walkingtowork">
        <%= image_tag "twitter.png", class: "icon" %>
      </a>
      <ul>
        <li>Blog</li>
        <li>HP: 100</li>
        <li>MP: 50<li>
      </ul>
    </div>
    <div class="nav_block" id="resume_nav">
      <a href="http://www.linkedin.com/pub/alex-lin/29/153/39a">
        <%= image_tag "linkedin.png", class: "icon" %>
      </a>
      <ul>
        <li>Resume</li>
        <li>HP: 100</li>
        <li>MP: 50<li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<footer id="footer_bar">
  <!-- This is the footer -->
</footer>

</body>
</html>
